<h1><%= @entry.title %></h1><br>
<h3>By: <%= @entry.user.first_name%></h3>
<h5>Date: <%= @entry.date %></h5>
<p><%= @entry.body %></p><br>
<%= image_tag @entry.avatar.url(:medium)%><br>
<%= link_to "Delete Entry", entry_path, method: :delete, data: ({confirm:"Are you sure you want to remove this entry?"}) %>
