<h1><%= @user.first_name %></h1>
<%= image_tag @user.avatar.url(:medium) %>
<p><%= @user.username %></p>
<%= link_to "View Stadiums", stadiums_path %>
<p><%= @user.email %></p>
<p><%= @user.favorite %></p>
<p><%= link_to "Add New Entry", new_entry_path %></p>
<%= link_to "Delete Profile", user_path, method: :delete, data:({confirm: "Are you sure you want to delete your profile?"}) %><br>
<% @user.entries.each do |e| %>
<%= link_to e.title, entry_path(e)%><br>
<%= e.date %><br>
<%= e.body %><br>
<%= image_tag e.avatar.url(:medium)%><br>
<% end %>
