<!DOCTYPE html>
<html>
<head>
  <title>Baseball Journey</title>
  <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

</head>

  <body>

    <% if flash[:failure]  %>
      <div class = "alert alert-danger text-center"> <%= flash[:failure] %></div>
    <% end %>

    <% if flash[:success]  %>
      <div class = "alert alert-success text-center"> <%= flash[:success] %></div>
    <% end %>

    <% if logged_in? %>
        <%= render 'sessions/login' %>
      <%else  %>
        <%= render 'sessions/logout' %>
    <%end %>


    <script>
      // animates dropdown menu
      $('.alert').delay(3000).slideUp()
      $(document).ready(function(){
       $('.navbar .dropdown').hover(function() {
           $(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideDown(50);
       }, function() {
           $(this).find('.dropdown-menu').first().stop(true, true).delay(50).slideUp(50)
       });
      })


      // makes entry photo larger on hover
        $('.entry-picture').hover(makeBigger, returnToOriginalSize);

        function makeBigger() {
            $(this).css({height: '+=300%', width: '+=300%'});
        }
        function returnToOriginalSize() {
            $(this).css({height: "", width: ""});
        }
    </script>

    <%= yield %>

  </body>

</html>
